body{
    display: grid;
    grid:
    "header header" 190px
    "imagem_principal descricao" 1fr
    "vazio redes" 50px
    "footer footer" 50px;

    grid-template-columns: min-content auto;
}

header{
    grid-area: header;
}

.imagem_principal{
    grid-area: imagem_principal;
}

.descricao{
    grid-area: descricao;
}

.redes{
    grid-area: redes;
}

footer{
    grid-area: footer;
}